<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns="http://www.w3.org/2001/XMLSchema">
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  
  <!--logging to the debug console-->
  <appender name="console" type="log4net.Appender.DebugAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  
  <!--logging to a file-->
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="C://Users//ITM1//Desktop//standard.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  
  <!--logging to TextBox on GUI-->
  <appender name="NotifyAppender" type="Surrogate.Utils.Logging.NotifyAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="[Header]\r\n" />
      <param name="Footer" value="[Footer]\r\n" />
      <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="NotifyAppender" />
  </root>
</log4net>